.mainContainer {
    display: flex;
    background-color: #161E38;
    width: 60%;
}

.portal {
    color: white;

}

.portalHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}