

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1d2d50;
    color: #ffffff;
}

.admin-login-page {
    display: flex;
    flex-direction: column;
    min-height: 20vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002366;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    margin-right: 10px;
}

.nav-links a {
    margin: 0 15px;
    color: #ffffff;
    text-decoration: none;
}

.sign-in-btn,
.register-btn {
    background-color: #ffcc00;
    padding: 8px 12px;
    border-radius: 5px;
    color: #002366;
    font-weight: bold;
}

.admin-login-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.login-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    color: #1d2d50;
    width: 500px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px -10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.sign-in-button {
    width: 100%;
    padding: 10px;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    color: #002366;
    font-weight: bold;
    cursor: pointer;
}

.forgot-password-link {
    display: block;
    margin-top: 10px;
    color: #ffcc00;
    text-decoration: none;
}

.footer {
    background-color: #1d2d50;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-info,
.about-us {
    width: 300px;
    margin-bottom: 20px;
}
