

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #1e3567;
    /* padding: 10px 50px; */
    margin-top: 400px;
    color: #ffffff;
    width: 100%; 
    box-sizing: border-box;
    position: relative;
}

.Logo {
    width: 150px;
    margin-bottom: 25px;
    margin-right: 15px;
}

.contacts-container, 
.about-us-container {
    flex: 1;
    max-width: 300px;
    margin: 10px 0px;
}

.contacts-container h3 {
    margin-bottom: 10px;
}

.contacts-container p,
.about-us-container p {
    margin: 5px 0;
}

@media (max-width: auto) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .Logo {
        width: 120px;
    }

    .contacts-container, 
    .about-us-container {
        max-width: 100%;
        margin: 10px 0;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .footer-container {
        padding: 15px;
    }

    .Logo {
        width: 100px;
        margin-bottom: 15px;
    }

    .contacts-container, 
    .about-us-container {
        padding: 0 10px;
    }

    .contacts-container h3 {
        font-size: 1.2em;
    }
}
