* {
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #1c2331;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
  }
  
  .login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 220px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    transition: transform 0.3s ease;
  }
  
  .login-box:hover {
    transform: scale(1.05);
  }
  
  .customer {
    background-color: #cda334;
  }
  
  .staff {
    background-color: #a3acd8;
  }
  
  .admin {
    background-color: #a7dcd9;
  }
  